@using Microsoft.AspNetCore.Identity
@inject UserManager<UserInfo> _userManager
@{
    UserInfo userInfo = ViewBag.UserInfo;
    //if (User.Identity.Name != null)
    //{
    //    string uid = _userManager.GetUserId(User);
    //    userInfo = _userManager.Users.Include(u => u.Carts).Where(u => u.Id.Equals(uid)).FirstOrDefault();
    //}
}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light @ViewData["navBarMode"]" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tunga<small>Restaurant</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item @ViewData["HomeNav"]"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                <li class="nav-item @ViewData["MenuNav"]"><a asp-area="" asp-controller="Home" asp-action="Menu" class="nav-link">Menu</a></li>
                @if(User.Identity.Name != null){
                    <li class="nav-item cart">
                        <a asp-controller="Cart" asp-action="Index" class="nav-link">
                            <span class="icon icon-shopping_cart"></span>
                            <span class="bag d-flex justify-content-center align-items-center"><small>
                                    @{
                                        var cartValue = (userInfo.Carts == null) ? 0 : userInfo.Carts.Count;
                                    }
                                    @cartValue
                        </small></span>
                    </a>
                </li>
                <li class="nav-item dropdown @ViewData["ProfileNav"]">
                    <a class="nav-link dropdown-toggle" href="room.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@userInfo.DisplayName</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Index">My profile</a>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Reservation">My reservation</a>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="History">My online order history</a>
                        <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" method="post">
                            <button type="submit" class="dropdown-item p-0 d-inline text-danger">Logout</button>
                        </form>
                    </div>
                </li>
                }
                else{
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="room.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login" >Login</a>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register" >Register</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
