@using Microsoft.AspNetCore.Identity
@using TungaRestaurant.Ultils
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["ProfileNav"] = "active";
    TokenManager tokenManager = new TokenManager();
    UserInfo userInfo = await _userManager.FindByNameAsync(User.Identity.Name);
}

@inject UserManager<UserInfo> _userManager
<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url(/customer_asset/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Cart</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home</a></span> <span>Order History</span></p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Reservation Token</th>
                                <th>Created Date</th>
                                <th>Reservation At</th>
                                <th>Table</th>
                                <th>Number of guest</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Reservation reservation in ViewBag.Reservations)
                            {
                                <tr class="text-center redirect-on-click" href="Profile/History/@reservation.Id">
                                    <td class="image-prod" style="overflow-wrap:anywhere">
                                        <span>
                                            @reservation.Token
                                        </span>
                                    </td>
                                    <td class="">
                                        <span>
                                            @reservation.CreatedAt
                                        </span>
                                    </td>
                                    <td class=""><span>@reservation.ReservationAt</span> </td>

                                    <td class="">
                                        <span>@reservation.Table.Name</span>
                                    </td>

                                    <td class="">
                                        <span>@reservation.NumberOfGuest</span>
                                    </td>

                                </tr>

                                <!-- END TR-->
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>